@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    --bs-body-font-size: 1.3rem;
}
.altura{
    height: 40rem;
}
h2,h4,p{
    color: rgba(255, 255, 255, 0.788);
}
a{
    font-weight: bold;
}
.carousel-caption {
    top: 70%;
}

.sel{
    font-size: 3em;

}
.sel1{
    font-size: 1.3em;
}
.subtitle{
    color: rgb(238, 255, 0);
}
.accordion{
    --bs-accordion-bg: #041220;
    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-btn-bg: #0d0e0e;
    --bs-accordion-active-color: #fbff00;
    --bs-accordion-active-bg: #000000a6;
    --bs-accordion-color: #ffffff;
    --bs-accordion-border-color: #5c5b2e;
}
.seccion1{
    background-color: #041220;
    min-height: 68vh;
    max-height: 400vh;
}
footer{
    background: #0b0b0c;
    width: 100vw; 
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 4px;
}
.contact-pe{

    width: 40%;
    color: white;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-bottom: 5px;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: white;
}
.social-media-icon:hover{
    background: rgba(66, 64, 64, 0.877);
    color: rgba(255, 255, 255, 0.986);
    padding: 0;

}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
    
}
.brand{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder; 
    font-size: 37px;
    margin-left: 6.7rem;
    color: #a30a0a;
}
.rights{
    margin-left: 55px;
    font-size: 30px;
}
@media (max-width:952px){
    .brand{
        font-size: 32px;
    }
    footer{
        max-height: 400px;
    }
    .contact-pe{
        width: 100%;
        height: 20px;
        margin-bottom: 15px;
        color: white;
    }
    .social-media{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-right: 50px;
        margin-bottom: 5px;
    }
    .social-media-icon i{
        font-size: 30px;
        width: 50px;
        line-height: 60px;
        
    }
}