body{
    background-color: #041220;
}
section{
    background-color: #041220;
    margin-bottom: 15px;
}
.servicios{
    background-color: #041220;
    min-height: 100vh;
    max-height: 500vh;
}
.servicios img{
    min-width: 100vw;
    max-width: 90vw;
    height: 90vh;
}