.principal{
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: rgb(34, 34, 34);
    h3{
        
        font-size: 1.5em;
        color: #ff0000;
        margin-bottom: 15px;
    }
}
    
.sel{
    background: transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.sel-img{
    position: relative;
    transition: 1s transform,  1s opacity;
    display: block;
    opacity: 1;
}
.sel:hover .sel-img{
    transform: scale(1.2);
    opacity: .2
}

        
        
        
.container{
    width: 90%;
    max-width: 1000px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(4, 1fr);
    gap: 20px;
    grid-template-areas: 
    "elemento1 elemento1 elemento2"
    "elemento3 elemento3 elemento2"
    "elemento3 elemento3 elemento2"
    "elemento4 elemento4 elemento4";
}
.elemento1{
    grid-column: 1/3 ;
    grid-row: 1/2;
    cursor: pointer;
}
.elemento2{
    grid-column: 3/4;
    grid-row: 1/4;
}
.elemento3{
    grid-column: 1/3;
    grid-row: 2/4;
}
.elemento4{
    grid-column: 1/-1;
    grid-row: 4/5;
}