.main-form{
    display: flex;
    justify-content: center;
}
.left-f{
    display: flex;
    justify-content: center;
    width: 50%;
}
.cuadro-form{
    
}
.right-f{
    background-color: aqua;
    width: 50%;
}