main{
    img{
    width: 100%;
    height: 100vh;
    }
    image{
        top: 50%;
    }
}
.subtitle{
    color: rgba(0, 255, 255, 0.712);
    padding-bottom: 20px;
}
.card {
    img{
    height: 180px;
    width: 100%;
    }
}

        
.productos{
    background-color: #041220;
    min-height: 100vh;
    max-height: 700vh;
    margin: 30px 7em;
}
   