

.card {
    img{
    height: 180px;
    width: 100%;
    }
}
.contenedor{
    padding: 70px 0px;
    
    img{
        height: 37.5rem;
    }
}
        
.productos{
    min-height: 100vh;
    max-height: 700vh;
    margin: 30px 7em;
}
   