@import 'media';
@import 'anime';
@import 'info';
@import 'productos';
@import 'servicios';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #041220;
    --bs-body-font-size: 1.26rem;
    font-family: 'Poppins';
    
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(25, 0, 255, 0.527);
}
span{
    color: aqua;
}

.altura{
    height: 40rem;
}
h2,h4,p{
    color: rgba(255, 255, 255, 0.788);
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: 0.7s;
    background-color:#10161d ;
        
}   
header.down{
    background-color: #56657383;
    padding: 0; 
    &:hover{
        background-color: #17202A;
    }
}

.nav-link{
    padding: 0;
}
.ul-nav{
    a{
        position: relative;
        text-decoration: none;
        letter-spacing: 0.5px;
        padding: 0 10px;
        margin: 0 10px;
        
        &:after{
            content:"";
            position: absolute;
            background-color: #ce1616;
            height: 3px;
            width: 0px;
            left: 0;
            bottom: 0px;
            transition: 0.3s;
            
        }
        &:hover{
            color: rgb(255, 255, 255);
            &::after{
                width: 100%;
            }
        }
    }
    
}
.principal{
    margin-top: 80px;
    
}
.carousel-caption {
    top: 70%;
}

.sel{
    font-size: 3em;

}
.sel1{
    font-size: 1.3em;
}
.subtitle{
    color: rgb(238, 255, 0);
}
.accordion{
    --bs-accordion-bg: #041220;
    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-btn-bg: #0d0e0e;
    --bs-accordion-active-color: #fbff00;
    --bs-accordion-active-bg: #000000a6;
    --bs-accordion-color: #ffffff;
    --bs-accordion-border-color: #5c5b2e;
}
.seccion1{
    background-color: #041220;
    min-height: 68vh;
    max-height: 400vh;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #0b0b0c; 
}

@mixin IconSize ($w, $h) {             //MIXIN CON PARAMETROS
    width: $w;
    height: $h;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    @include IconSize(60px,60px);       // MIXIN
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: white;
    &:hover{
        background: rgba(66, 64, 64, 0.877);
        color: rgba(255, 255, 255, 0.986);
        padding: 0;
    }  
    i{
        font-size: 30px;
        line-height: 55px;
    }
}
                    
// MIXIN & EXTEND DESAFIO

