@import 'media';
@import 'contacto';
@import 'info';
@import 'productos';
@import 'servicios';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
::-webkit-scrollbar{
	width: 10px;
    
}
::-webkit-scrollbar-track{
	background: #dddddd00;
;    
}
::-webkit-scrollbar-thumb{
	background: rgba(34, 221, 250, 0.596);  
    
    
}

body{
    background-color: #29323c;
    --bs-body-font-size: 1.26rem;
    font-family: 'Poppins';
    --bs-border-color: #ffffff1c;
    
}
.modal{
    --bs-modal-header-border-width: 4px;
    --bs-modal-footer-border-width: 4px;
}
a{
    text-decoration: none;
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #FDFEFE;
    letter-spacing: .5px; 
}
span{
    color: aqua;
}

.altura{
    height:37rem;
    @media (max-width: 968px){
        height: 30rem;
    }
    @media (max-width: 576px){
        height: 20rem;
    }
}
h2,h4,p{
    color: rgb(255, 255, 255);
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: 0.7s;
    background-color: #272c30;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.66);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.66);
    
}  
header.down{
    opacity: .2;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); 
    &:hover{
        -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.66);
        -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.66);
        box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.66);
        opacity: 1;
    }
}
.nav-link{
    padding: 0;
}
.ul-nav{
    margin-right: 2.5em;
    
    @media (max-width: 991px){
        margin-top: 15px;
        margin-right: 0;
    }
    a{
        position: relative;
        text-decoration: none;
        letter-spacing: 0.5px;
        padding: 0 10px;
        margin: 0 10px;
        @media (max-width: 991px){
            text-align: center;
            margin: 7px 10px 8px;
            background-color: rgba(255, 255, 255, 0.075);
            opacity: 4;
            text-transform: uppercase;
            border-radius: 10px 0px;
            padding: 5px 0px;
        }
        
        &:after{
            content:"";
            position: absolute;
            background-color: #ce1616;
            height: 3px;
            width: 0px;
            left: 0;
            bottom: 0px;
            transition: 0.3s;
            border-radius: 0px 30px ;
            
        }
        &:hover{
            color: rgb(255, 255, 255);
            &::after{
                width: 100%;
            }
        }
    }
}
.main-img{
    padding-top: 69px;
}
.principal{
    margin: 0;
    padding: 0px 0px; 
    height: 875px; 
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #29323c;
    //background-image: linear-gradient(to right, #243949 0%, #274053 100%);
    
    h3{
        
        font-size: 1.5em;
        color: #ff0000;
        margin-bottom: 15px;
    }
}

    
.sel-img{
    width: 100%;
    height: 100%;
    background: transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
    align-items: center;
    &:hover img{
        transform: scale(1.2);
        opacity: .2;   
    }
    &:hover .darling{
        visibility: visible;
        margin-top: 15px; 
        @media (max-width: 968px){
            margin-top: 8px;
        }
    }
    &:hover .darling-h{
        margin: 0px 40px;
    }
    &:hover .konosuba{
        margin-top: 122px;
        @media (max-width: 968px){
            margin-top: 10px;
        }
    }
    &:hover .konosuba-h{
        margin: 19px 27px 0px;
        right: 0px;
        @media (max-width: 968px){
            margin: 0px 40px;
        }
    }
    &:hover .sentouin{
        margin-top: 25px;
        @media (max-width: 968px){
            margin-top: 10px;
        }
    }
    &:hover .sentouin-h{
        margin-top: 15px;
        @media (max-width: 968px){
            margin: 0px 40px;
            padding: 12.5px 20px 10px 20px;
        }
    }
    
    
    img{
        width: 100%;
        height: 100%;
        position: relative;
        transition: 1s transform,  1s opacity ease-out;
        opacity: 1;
        object-fit: fill;
        text-align: center;   
        align-items: center;  
    }
    
}
.sel-img-k{
    @extend .sel-img;
    img{
        object-fit: inherit;
    }
    
}
.darling{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    margin-top: -40px;
    text-align: center;
    visibility: hidden;
    transition: all 500ms ease-out;
    
    
    
}
.darling-h{
    background-color: rgba(255, 255, 255, 0.116);
    text-align: left;
    margin: 180px 40px 0px;
    padding: 12.5px 20px 10px 20px;
    color: #fff;
    transition: all 500ms ease-out;
}
.konosuba{
    @extend .darling;
    img{
        object-fit: cover;
    }
    
}
.konosuba-h{
    @extend .darling-h;
    position: relative;
    right: -300px;
    margin: 180px 0px 20px; //309px
    padding: 10px 15px 10px 15px;
    @media (max-width: 968px){
        right: 0;
        margin: 180px 0px 20px;
        padding: 10px 15px 10px 15px;
    }
    
}
.sentouin{
    @extend .darling;
    margin-top: -40px;
    
    font-size: 80px;
    font-weight: 800;
    
}
.sentouin-h{
    @extend .darling-h;
    margin: 280px 40px 0px;
    padding: 15px 20px 10px 20px;

}
.tantei{
    @extend .darling;
}
.tantei-h{
    @extend .darling-h;
    
    

}

.genero{
    color: #fff;
}
                
.container{
    width: 90%;
    max-width: 1000px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(4, 1fr);
    gap: 20px;
    grid-template-areas: 
    "elemento1 elemento1 elemento2"
    "elemento3 elemento3 elemento2"
    "elemento3 elemento3 elemento2"
    "elemento4 elemento4 elemento4";
    @media (max-width: 968px) {
        grid-template-areas: 
        "elemento1 elemento1 elemento1"
        "elemento2 elemento2 elemento2"
        "elemento3 elemento3 elemento3"
        "elemento4 elemento4 elemento4";
    }
}
.elemento1{
    grid-column: 1/3 ;
    grid-row: 1/2;
    @media (max-width: 968px){
        grid-column: 1/4;
        grid-row: 1/2;
        height: 160px;
    }
    
}
.elemento2{
    grid-column: 3/4;
    grid-row: 1/4;
    @media (max-width: 968px){
        grid-column: 1/4;
        grid-row: 2/3;
        height: 160px;
        
    }
}
.konosuba-img{
    @extend .sel-img;
    visibility: visible;
    @media (max-width: 968px){
        visibility: hidden;
        display: none;
    }
}
.media-img{
    @extend .sel-img;
    visibility: hidden;
    img{
        object-fit: cover;
    }
    
    @media (max-width: 968px){
        visibility: visible;
    }
}
.elemento3{
    grid-column: 1/3;
    grid-row: 2/4;
    @media (max-width: 968px) {
        grid-column: 1/4;
        grid-row: 3/4;
        height: 160px;
        
    }
    
}
.elemento4{
    grid-column: 1/-1;
    grid-row: 4/5;
    @media (max-width: 968px) {
        height: 160px;  
    }
}
.section-t{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    
}
.title-s{
    font-size: 2em;
    font-weight: bold;
    color: #FDFEFE;
    letter-spacing: .5px;
    @media (max-width: 968px){
        font-size: 1.5em;
    } 
}

.img-rend{
    width: 80px;
    margin-left: 25px;
    position: relative;
    top: -13px;
    @media (max-width: 968px){
        width: 75px;
        margin-left: -23px;
        margin-right: 24px;
    } 
}

.carousel-caption {
    top: 64%;
    background-color: rgba(0, 0, 0, 0.486);
    color: #fff;
    transition: all .5s; 
    &:hover{
        transform: scale(1.05);
        background-color: rgba(0, 0, 0, 0.856);
    }
    @media (max-width: 992px){
        display: none;
        visibility: hidden;
    }
}
.cortos{
    padding-top: 150px;
}

.sel{
    font-size: 3em;

}
.sel1{
    font-size: 1.3em;
}


.seccion1{
    background-color: #041220;
    min-height: 68vh;
    max-height: 400vh;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #0b0b0c; 
}

@mixin IconSize ($w, $h) {             //MIXIN CON PARAMETROS
    width: $w;
    height: $h;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    @include IconSize(60px,60px);       // MIXIN
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: white;
    &:hover{
        background: rgba(66, 64, 64, 0.877);
        color: rgba(255, 255, 255, 0.986);
        padding: 0;
    }
    @media (max-width: 968px){
        @include IconSize(40px,40px); 
    }
    
    
    i{
        font-size: 35px;
        line-height: 55px;
        @media (max-width: 968px){
            font-size: 20px;
            line-height: 35px;
    }
    }
}
                    
// MIXIN & EXTEND DESAFIO

