@import 'media';
@import 'anime';
@import 'info';
@import 'productos';
@import 'servicios';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #041220;
    --bs-body-font-size: 1.26rem;
    font-family: 'Poppins';
    
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(25, 0, 255, 0.527);
}
span{
    color: aqua;
}

.altura{
    height: 40rem;
}
h2,h4,p{
    color: rgba(255, 255, 255, 0.788);
}
a{
    text-decoration: none;
    font-weight: bold;
}
.carousel-caption {
    top: 70%;
}

.sel{
    font-size: 3em;

}
.sel1{
    font-size: 1.3em;
}
.subtitle{
    color: rgb(238, 255, 0);
}
.accordion{
    --bs-accordion-bg: #041220;
    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-btn-bg: #0d0e0e;
    --bs-accordion-active-color: #fbff00;
    --bs-accordion-active-bg: #000000a6;
    --bs-accordion-color: #ffffff;
    --bs-accordion-border-color: #5c5b2e;
}
.seccion1{
    background-color: #041220;
    min-height: 68vh;
    max-height: 400vh;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #0b0b0c; 
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 4px;
    @media (max-width: 968px) { 
        flex-direction: column-reverse;   
    }
}
.contact-pe{
        color: white;
        margin-left: 6.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 968px) {
            margin-left: 0;
        }
    }
.brand{
        font-family: 'Poppins', sans-serif;
        font-weight: bolder; 
        font-size: 37px;
        color: #a30a0a;
        @media (max-width: 968px){
            font-size: 37px;
        }
    }
.rights{
    font-size: 30px;
    @media (max-width: 968px){
        font-size: 25px;
    }
}
    
.social-media{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-bottom: 5px;
    align-items: center;
    @media (max-width: 968px){
        margin: 14px 46px;
        align-items: stretch;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
}
@mixin IconSize ($w, $h) {             //MIXIN CON PARAMETROS
    width: $w;
    height: $h;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    @include IconSize(60px,60px);       // MIXIN
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: white;
    &:hover{
        background: rgba(66, 64, 64, 0.877);
        color: rgba(255, 255, 255, 0.986);
        padding: 0;
    }  
    i{
        font-size: 30px;
        line-height: 55px;
    }
}
                    
// MIXIN & EXTEND DESAFIO

